<!doctype html>

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=1024" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>jsRender - Express</title>

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
        <link href="css/impress-demo.css" rel="stylesheet" />

        <link rel="shortcut icon" href="favicon.png" />
        <link rel="apple-touch-icon" href="apple-touch-icon.png" />
        <script type="text/javascript" src="js/shCore.js"></script>
        <script type="text/javascript" src="js/shBrushJScript.js"></script>
        <script type="text/javascript" src="js/shBrushCss.js"></script>
        <script type="text/javascript" src="js/shBrushXml.js"></script>
        <script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
        <script src="http://borismoore.github.com/jsrender/jsrender.js" type="text/javascript"></script>
        <link href="css/shCore.css" rel="stylesheet" type="text/css" />
        <link href="css/shThemeDefault.css" rel="stylesheet" type="text/css" />

    </head>


    <body class="impress-not-supported">

        <div class="fallback-message">
            <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
            <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
        </div>

        <div id="impress">

            <div id="title" class="step" data-x="0" data-y="0" data-scale="40" >
                <span class="try">Creando con</span>
                <h1>jsRender
                    <!--                    <sup>*</sup>-->
                </h1>
                <!--                <span class="footnote"><sup>*</sup> no rhyme intended</span>-->
            </div>

            <div id="need" class="step list" data-x="-13400" data-y="-5000" data-rotate="-90">
                <span class="header">¿La necesidad?</span>
                <br>
                <ul>
                    <li>Interfaces Dinámicas</li>
                    <li>Rapidez</li>
                    <li>Usabilidad</li>
                    <li>Mantenibilidad</li>
                    <li>Enlace Interfaz-JSON</li>

                </ul>


            </div>

            <div id="actualidad" class="step actualidad list" data-x="-10800" data-y="-5200" data-scale="0.5">
                <span class="header">Actualidad</span>
                <br>
                <ul>
                    <li><a href="#mustache">Mustache</a></li>
                    <li><a href="#ejs">Ejs</a></li>
                    <li><a href="#jade">Jade</a></li>
                    <li><a href="#jsrender">jsRender</a></li>

                </ul>


            </div>

            <div id="mustache" class="step code" data-x="-10880" data-y="-5240" data-scale="0.01">
                <b>view</b>
                <pre class="brush: js">
                    {
                    "name": "Chris",
                    "company": "<b>GitHub</b>"
                    }           
                </pre>
                <b>template</b>
                <pre class="brush: js">
                    * {{name}}
                    * {{age}}
                    * {{company}}
                    * {{{company}}}
                    * {{&company}}
                </pre>
                <b>usage</b>
                <pre class="brush: js">
                    var output = Mustache.render(template, view);
                </pre>
                <b>output</b>
                <pre class="brush: js">
                    * Chris
                    *
                    * &lt;b&gt;GitHub&lt;/b&gt;
                    * <b>GitHub</b>
                    * <b>GitHub</b>
                </pre>

            </div>


            <div id="actualidad2" class="step overview" data-x="-10800" data-y="-5200" data-scale="0.5">
            </div>

            <div id="ejs" class="step code" data-x="-10950" data-y="-5200" data-scale="0.01">
                <b>The Data</b>
                <pre class="brush: js">
                {	title:	'Cleaning Supplies'
                        supplies:	['mop', 'broom', 'duster']	
                }         
                </pre>
                <b>The template</b>
                <pre class="brush: xml">
                    <ul>
                    <% for(var i=0; i<supplies.length; i++) {%>
                    <li><%= supplies[i] %></li>
                    <% } %>
                    </ul>
                </pre>
                <b>usage</b>
                <pre class="brush: js">
                    html = new EJS({url: '/template.ejs'}).render(data);
                </pre>
                <b>output</b>
                <ul style="list-style-type: disc;">
                    <li>mop</li>
                    <li>broom</li>
                    <li>duster</li>
                </ul>


            </div>
            <div id="actualidad2" class="step overview" data-x="-10800" data-y="-5200" data-scale="0.5">
            </div>

            <div id="jade" class="step code" data-x="-10940" data-y="-5162" data-scale="0.01">
                <b>The Data</b>
                <pre class="brush: js">
                {	title:	'Cleaning Supplies'
                        supplies:	['mop', 'broom', 'duster']	
                }         
                </pre>
                <b>The template</b>
                <pre class="brush: xml">
                    ul
                    - for (var key in supplies)
                            li=supplies[key]
                </pre>
                <b>usage</b>
                <pre class="brush: js">
                    var fn = jade.compile(template, data);
                </pre>
                <b>output</b>
                <ul style="list-style-type: disc;">
                    <li>mop</li>
                    <li>broom</li>
                    <li>duster</li>
                </ul>

            </div>




            <div id="actualidad2" class="step overview" data-x="-10800" data-y="-5200" data-scale="0.5">
            </div>

            <div id="jsrender" class="step code" data-x="-10890" data-y="-5130" data-scale="0.01">
                <b>The Data</b>
                <pre class="brush: js">
                    [
                            { name: "The Red Violin", releaseYear: "1998" },
                            { name: "Eyes Wide Shut", releaseYear: "1999" },
                            { name: "The Inheritance", releaseYear: "1976" }
                    ];        
                </pre>
                <b>The template</b>
                <pre class="brush: xml">

                <script id="movieTemplate" type="text/x-jsrender">
                    <div>
                        {{:#index+1}}: <b>{{:name}}</b> ({{:releaseYear}})
                    </div>
                </script>

                    </pre>
                    <b>usage</b>
                    <pre class="brush: js">
                    $( "#movieTemplate" ).render( movies )
                    </pre>
                    <b>output</b>

                    <script id="movieTemplate" type="text/x-jsrender">
                        <div>
                            {{:#index+1}}: <b>{{:name}}</b> ({{:releaseYear}})
                        </div>
                        </script>
                        <div id="movieList"></div>



                    </div>

                    <div id="ventajas" class="step list" data-x="-10800" data-y="-5000" data-scale="0.1" data-rotate="-90">
                        <span class="header">Ventajas jsRender</span>
                        <br>
                        <ul>
                            <li>20 veces mas rapido</li>
                            <li>Templates globales, jQuery Views</li>
                            <li>Enlace de Datos, jQuery Observable</li>
                            <li>Eventos</li>

                        </ul>
                    </div>

                    <div id="templates" class="step code" data-x="-10800" data-y="-4650" data-scale="0.4" data-rotate="-180">
                        <span class="header">Ejemplo de template</span>
                        <br>
                        <b>String</b>
                        <pre class="brush: js">
                           var string = "<tr><td colspan=3>{{>name}}</td></tr>";
                        </pre>

                        <b>Script Id</b>
                        <pre class="brush: xml">
                            <script id="movieTemplate" type="text/x-jsrender">
                                <div>
                                    {{:#index+1}}: <b>{{>name}}</b> ({{>releaseYear}})
                                </div>
                            </script>
                        </pre>
                        
                        <b>Compile</b>
                        <pre class="brush: js">
                            /* Compile markup as named templates */
                            $.templates({
                                    titleTemplate: "<tr><td colspan=3>{{>name}}</td></tr>",
                                    detailTemplate: "#idTemplate"
                            });
                        </pre>
                    </div>

                    <div id="objects" class="step list" data-x="-9600" data-y="-4600" data-scale="0.3">
                        <span class="header">Objetos</span>
                        <br>
                        <ul>
                            <li>Se puede usar cualquier objeto que cumpla con el estandar <b>JSON</b>.</li>
                            <li>Los datos de entrada pueden ser o un arreglo de <b>JSON</b> o objetos <b>JSON</b>.</li>
                        </ul>
                        
                    </div>
            
                    <div id="objects-ejemplo1" class="step code" data-x="-9650" data-y="-4510" data-scale="0.1">
                        <span class="header">Ejemplo Array</span>
                        <br>
                        <b>Template</b>
                        <pre class="brush: xml">
                            <script id="movieTemplate" type="text/x-jsrender">
                                <div>
                                    {{:#index+1}}: <b>{{:name}}</b> ({{:releaseYear}})
                                </div>
                            </script>
                        </pre>
                        <b>Array JSON</b>
                        <pre class="brush: js">
                            [
                                    { name: "The Red Violin", releaseYear: "1998" },
                                    { name: "Eyes Wide Shut", releaseYear: "1999" },
                                    { name: "The Inheritance", releaseYear: "1976" }
                            ];        
                        </pre>
                        <p>Como es un arreglo el itera sobre el template autmaticamente. Por cada elemento del arreglo.</p><br>
                        <b>Resultado</b>
                        <div id="movieList2"></div>

                        
                    </div>
                        
                    <div id="objects-ejemplo2" class="step code" data-x="-9550" data-y="-4525" data-scale="0.1">
                        <span class="header">Ejemplo <b>JSON</b></span>
                        <br><br>
                        
                        <p>
                            Usando el mismo template anterior. Pero cambiando la data
                        </p>
                        <pre class="brush: js">
                                    { name: "The Red Violin", releaseYear: "1998" }
                        </pre>
                        
                        <b>Resultado</b>
                        <div id="movieList3"></div>
                        <br>
                        <p>PD: El NaN se genera porque el valor #index no existe si no es un arreglo.</p>

                    </div>

                    <div id="if" class="step list" data-x="-8140" data-y="-4800" data-scale="0.3" data-rotate="-180">
                        <span class="header">Ejemplo de if</span>
                        <br>

                    </div>

                    <div id="for" class="step list" data-x="-6800" data-y="-4800" data-scale="0.5" data-rotate="-180">
                        <span class="header">Ejemplo de for</span>
                        <br>
                    </div>

                    <div id="tags" class="step list" data-x="-5300" data-y="-4800" data-scale="0.5" data-rotate="-90">
                        <span class="header">Ejemplo de tags</span>
                        <br>

                    </div>

                    <div id="helper" class="step list" data-x="-3150" data-y="-4800" data-scale="0.5">
                        <span class="header">Ejemplo de helper</span>
                        <br>

                    </div>

                    <div id="jsview" class="step list" data-x="-1950" data-y="-4800" data-scale="0.5">
                        <span class="header">Explicación jsview</span>
                        <br>
                    </div>

                    <div id="linking" class="step list" data-x="-550" data-y="-4800" data-scale="0.5">
                        <span class="header">Enlace de datos</span>
                        <br>
                    </div>

                    <div id="change_template" class="step list" data-x="-10200" data-y="-1200" data-scale="0.5">
                        <span class="header">Cambio de templates</span>
                        <br>
                    </div>

                    <div id="top_level_link" class="step list" data-x="-5800" data-y="-300" data-scale="0.5">
                        <span class="header">Enlazando paginas sin template</span>
                        <br>
                    </div>

                    <div id="link_form" class="step list" data-x="-1400" data-y="0" data-scale="0.5">
                        <span class="header">Enlazando formularios</span>
                        <br>
                    </div>

                    <!--            <div class="step slide" data-x="0" data-y="-1500">
                                    <q>Don't you think that presentations given <strong>in modern browsers</strong> shouldn't <strong>copy the limits</strong> of 'classic' slide decks?</q>
                                </div>
                    
                                <div class="step slide" data-x="1000" data-y="-1500">
                                    <q>Would you like to <strong>impress your audience</strong> with <strong>stunning visualization</strong> of your talk?</q>
                                </div>
                    
                    
                                <div id="title" class="step" data-x="0" data-y="0" data-scale="4">
                                    <span class="try">then you should try</span>
                                    <h1>impress.js<sup>*</sup></h1>
                                    <span class="footnote"><sup>*</sup> no rhyme intended</span>
                                </div>
                    
                                <div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
                                    <p>It's a <strong>presentation tool</strong> <br/>
                                        inspired by the idea behind <a href="http://prezi.com">prezi.com</a> <br/>
                                        and based on the <strong>power of CSS3 transforms and transitions</strong> in modern browsers.</p>
                                </div>
                    
                                <div id="big" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="6">
                                    <p>visualize your <b>big</b> <span class="thoughts">thoughts</span></p>
                                </div>
                    
                    
                                <div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
                                    <p>and <b>tiny</b> ideas</p>
                                </div>
                    
                    
                                <div id="ing" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="6">
                                    <p>by <b class="positioning">positioning</b>, <b class="rotating">rotating</b> and <b class="scaling">scaling</b> them on an infinite canvas</p>
                                </div>
                    
                                <div id="imagination" class="step" data-x="6700" data-y="-300" data-scale="6">
                                    <p>the only <b>limit</b> is your <b class="imagination">imagination</b></p>
                                </div>
                    
                                <div id="source" class="step" data-x="6300" data-y="2000" data-rotate="20" data-scale="4">
                                    <p>want to know more?</p>
                                    <q><a href="http://github.com/bartaz/impress.js">use the source</a>, Luke!</q>
                                </div>
                    
                                <div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
                                    <p>one more thing...</p>
                                </div>
                    
                    
                                <div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
                                    <p><span class="have">have</span> <span class="you">you</span> <span class="noticed">noticed</span> <span class="its">it's</span> <span class="in">in</span> <b>3D<sup>*</sup></b>?</p>
                                    <span class="footnote">* beat that, prezi ;)</span>
                                </div>-->


                    <div id="overview" class="step" data-x="-2000" data-y="0" data-scale="45">
                    </div>

                </div>


                <div class="hint">
                    <p>Use a spacebar or arrow keys to navigate</p>
                </div>
                <script>
                    if ("ontouchstart" in document.documentElement) { 
                        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
                    }
                </script>


                <script src="js/impress.js"></script>
                <script>impress().init();</script>
                <script type="text/javascript">
                    SyntaxHighlighter.all()
                </script>
                <script type="text/javascript">

                    var movies = [
                        { name: "The Red Violin", releaseYear: "1998" },
                        { name: "Eyes Wide Shut", releaseYear: "1999" },
                        { name: "The Inheritance", releaseYear: "1976" }
                    ];
                    var movie = { name: "The Red Violin", releaseYear: "1998" };

                    // Render the template with the movies data and insert
                    // the rendered HTML under the "movieList" element
                    $( "#movieList" ).html(
                    $( "#movieTemplate" ).render( movies )
                );
                    $( "#movieList2" ).html(
                    $( "#movieTemplate" ).render( movies )
                );
                    $( "#movieList3" ).html(
                    $( "#movieTemplate" ).render( movie )
                );

                </script>
                
                
            </body>
        </html>


